

/* Page-specific styles for CreateAccountPage */

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.signup-form {
    background-color: var(--white);
    padding: var(--space-large);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: var(--space-medium);
    margin-left: auto;
    margin-right: auto;
}

.signup-form label {
    font-weight: bold;
    margin-bottom: 4px;
}

.signup-form input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form input:focus {
    outline: none;
    border-color: var(--brand);
    box-shadow: 0 0 0 2px rgba(205, 44, 44, 0.2);
}

.form-header {
    text-align: center;
    margin-bottom: 1rem;
}

.form-header h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--black);
}

.form-header p {
    font-size: 1rem;
    color: #555;
}

.signup-form button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #004b87;
    color: white;
}

.signup-form button[type="submit"]:hover {
    background-color: #00345c;
}

.back-to-login {
    display: block;
    margin: 0 auto;
    margin-top: 0.75rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #004b87;
    color: white;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.back-to-login:hover {
    background-color: #00345c;
}

