    :root {
    --brand: #cd2c2c;
    --action: #90a955;
    --white: white;
    --base-light: #ecf39e;
    --base-dark: #4f772d;
    --black: #0a2342;
    --font-default: "Delima SemiBold", sans-serif;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;
    --space-xl: 64px;
    }

    /* Typography */
    h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-default);
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    }