    :root {
    --brand: #cd2c2c;
    --action: #90a955;
    --white: white;
    --base-light: #ecf39e;
    --base-dark: #4f772d;
    --black: #0a2342;
    --font-default: "Delima SemiBold", sans-serif;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;
    --space-xl: 64px;
    }

    /* Typography */
    h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-default);
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    }

/* Typography */
body {
    font-family: var(--font-default);
    background-color: #f0ead2  ;
    margin: 0;
    padding: 0;
}


.login-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.login-form {
    background-color: var(--white);
    padding: var(--space-large);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: var(--space-medium);
}

.login-form label {
    font-weight: bold;
    margin-bottom: 4px;
}

.login-form input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form input:focus {
    outline: none;
    border-color: var(--brand);
    box-shadow: 0 0 0 2px rgba(205, 44, 44, 0.2);
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.forgot-link {
    color: #004b87;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: var(--space-small);
}

.login-form button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button[type="submit"] {
    background-color: #004b87;
    color: white;
}

.login-form button[type="submit"]:hover {
    background-color: #00345c;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

.cancel-button:hover {
    background-color: #999;
}

.form-select {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.form-select:focus {
    outline: none;
    border-color: var(--brand);
    box-shadow: 0 0 0 2px rgba(205, 44, 44, 0.2);
}


.form-header {
    text-align: center;
    margin-bottom: 1rem;
}

.form-header h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--black);
}

.form-header p {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 480px) {
    .login-form {
        padding: var(--space-medium);
        max-width: 100%;
        margin: 0 1rem;
    }

    .form-buttons {
        flex-direction: column;
    }

    .form-buttons button {
        width: 100%;
    }
}

